.box {
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid gainsboro;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgb(231, 229, 229);
  }
  img {
    @media (min-width: 800px) {
      height: 64px;
      width: 64px;
    }
    height: 48px;
    width: 48px;
    border-radius: 100%;
    margin: 0 10px;
    border: 1px solid rgb(255, 0, 100);
  }
  font-size: 1em;
  h2 {
    color: rgb(255, 0, 100);
    margin-bottom: 5px;
    @media (min-width: 800px) {
      font-size: 1.5em;
    }
  }
  p {
    color: gray;
  }

  h5 {
    position: absolute;
    right: 5%;
    top: 5%;
    @media (min-width: 800px) {
      top: 20%;
    }
    color: rgb(54, 54, 54);
  }
}
