.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  @media (max-width: 600px) {
    padding-top: 70px;
  }
}

.mainContainer {
  border: 1px solid gray;
  border-radius: 10px;
  height: 90vh;

  @media (min-width: 1400px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 100%;
    border: none;
    border-radius: 0;
  }

  width: 90%;

  margin-bottom: 50px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.no_dialogues {
  font-size: 1em;
  @media (max-width: 600px) {
    font-size: 0.7em;
  }
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  img {
    height: 300px;
    @media (max-width: 600px) {
      height: 150px;
    }
  }
}
