.messageBox {
  padding: 15px;
  text-decoration: none;
  border-top: 1px solid gainsboro;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgb(231, 229, 229);
  }
  img {
    height: 64px;
    float: left;
    width: 64px;
    border-radius: 100%;
    margin: 0 10px;
    border: 1px solid rgb(255, 0, 100);
  }
  h2 {
    color: rgb(255, 0, 100);
    margin-bottom: 5px;
  }
  p {
    color: rgb(73, 70, 70);
    word-break: break-all;
  }

  h5 {
    position: absolute;
    right: 5%;
    top: 20px;
    color: rgb(107, 98, 98);
  }
}
