@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

.App {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;
}
