@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

.App {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;
}

.button {
  background: rgb(255, 0, 106);
  color: white;
  border: none;
  font-size: 2em;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    scale: 1.06;
    background: rgb(219, 4, 93);
  }
}
